[submodule "com.dotprodukt.unity-fldkt"]
	path = Packages/com.dotprodukt.unity-fldkt
	url = https://github.com/dotprodukt/unity-fldkt.git
[submodule "com.dotprodukt.unity-frktl"]
	path = Packages/com.dotprodukt.unity-frktl
	url = https://github.com/dotprodukt/unity-frktl